@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Light', sans-serif;
}


body {
    background: #234;
}

.text {
    color: white;
    text-align: center;
    font-size: 2vw;
    line-height: 30em;
    z-index: 1000;
    font-weight: 700;
}

@keyframes firework {
    0% {
        transform: translate(-50%, 60vh);
        width: 0.5vmin;
        opacity: 1;
    }
    50% {
        width: 0.5vmin;
        opacity: 1;
    }
    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework,
.firework::before,
.firework::after {
    --top: 60vh;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #ff0 0.2vmin, #0000 0) 50% 00%,
            radial-gradient(circle, #ff0 0.3vmin, #0000 0) 00% 50%,
            radial-gradient(circle, #ff0 0.5vmin, #0000 0) 50% 99%,
            radial-gradient(circle, #ff0 0.2vmin, #0000 0) 99% 50%,
            radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 90%,
            radial-gradient(circle, #ff0 0.5vmin, #0000 0) 95% 90%,
            radial-gradient(circle, #ff0 0.5vmin, #0000 0) 10% 60%,
            radial-gradient(circle, #ff0 0.2vmin, #0000 0) 31% 80%,
            radial-gradient(circle, #ff0 0.3vmin, #0000 0) 80% 10%,
            radial-gradient(circle, #ff0 0.2vmin, #0000 0) 90% 23%,
            radial-gradient(circle, #ff0 0.3vmin, #0000 0) 45% 20%,
            radial-gradient(circle, #ff0 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
}

.firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}


.firework1,
.firework1::before,
.firework1::after {
    --top: 60vh;
    content: "";
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #FF8C00 0.2vmin, #0000 0) 50% 00%,
            radial-gradient(circle, #E9967A 0.3vmin, #0000 0) 00% 50%,
            radial-gradient(circle, #FF8C00 0.5vmin, #0000 0) 50% 99%,
            radial-gradient(circle, #E9967A 0.2vmin, #0000 0) 99% 50%,
            radial-gradient(circle, #FF8C00 0.3vmin, #0000 0) 80% 90%,
            radial-gradient(circle, #E9967A 0.5vmin, #0000 0) 95% 90%,
            radial-gradient(circle, #FF8C00 0.5vmin, #0000 0) 10% 60%,
            radial-gradient(circle, #E9967A 0.2vmin, #0000 0) 31% 80%,
            radial-gradient(circle, #FF8C00 0.3vmin, #0000 0) 80% 10%,
            radial-gradient(circle, #E9967A 0.2vmin, #0000 0) 90% 23%,
            radial-gradient(circle, #FF8C00 0.3vmin, #0000 0) 45% 20%,
            radial-gradient(circle, #E9967A 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2.2s infinite;
    animation-delay: 1s;
}

.firework1::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework1::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}


.firework2,
.firework2::before,
.firework2::after {
    --top: 60vh;
    content: "";
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #fcccf4 0.2vmin, #0000 0) 50% 00%,
            radial-gradient(circle, #fcccf4 0.3vmin, #0000 0) 00% 50%,
            radial-gradient(circle, #fcccf4 0.5vmin, #0000 0) 50% 99%,
            radial-gradient(circle, #fcccf4 0.2vmin, #0000 0) 99% 50%,
            radial-gradient(circle, #fcccf4 0.3vmin, #0000 0) 80% 90%,
            radial-gradient(circle, #fcccf4 0.5vmin, #0000 0) 95% 90%,
            radial-gradient(circle, #fcccf4 0.5vmin, #0000 0) 10% 60%,
            radial-gradient(circle, #fcccf4 0.2vmin, #0000 0) 31% 80%,
            radial-gradient(circle, #fcccf4 0.3vmin, #0000 0) 80% 10%,
            radial-gradient(circle, #fcccf4 0.2vmin, #0000 0) 90% 23%,
            radial-gradient(circle, #fcccf4 0.3vmin, #0000 0) 45% 20%,
            radial-gradient(circle, #fcccf4 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 1.9s infinite;
    animation-delay: 2s;
}

.firework2::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework2::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.firework3,
.firework3::before,
.firework3::after {
    opacity: 0;
    --top: 60vh;
    content: "";
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 50% 00%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 00% 50%,
            radial-gradient(circle, #DC143C 0.5vmin, #0000 0) 50% 99%,
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 99% 50%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 80% 90%,
            radial-gradient(circle, #DC143C 0.5vmin, #0000 0) 95% 90%,
            radial-gradient(circle, #FFF8DC 0.5vmin, #0000 0) 10% 60%,
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 31% 80%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 80% 10%,
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 90% 23%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 45% 20%,
            radial-gradient(circle, #DC143C 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2.5s infinite;
    animation-delay: 3s;
}

.firework3::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework3::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.firework4,
.firework4::before,
.firework4::after {
    opacity: 0;
    --top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 50% 00%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 00% 50%,
            radial-gradient(circle, #DC143C 0.5vmin, #0000 0) 50% 99%,
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 99% 50%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 80% 90%,
            radial-gradient(circle, #DC143C 0.5vmin, #0000 0) 95% 90%,
            radial-gradient(circle, #FFF8DC 0.5vmin, #0000 0) 10% 60%,
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 31% 80%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 80% 10%,
            radial-gradient(circle, #DC143C 0.2vmin, #0000 0) 90% 23%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 45% 20%,
            radial-gradient(circle, #DC143C 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2.2s infinite;
    animation-delay: 4s;
}

.firework4::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework4::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.firework5,
.firework5::before,
.firework5::after {
    opacity: 0;
    --top: 60vh;
    content: "";
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #7CFC00 0.2vmin, #0000 0) 50% 00%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 00% 50%,
            radial-gradient(circle, #7CFC00 0.5vmin, #0000 0) 50% 99%,
            radial-gradient(circle, #7CFC00 0.2vmin, #0000 0) 99% 50%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 80% 90%,
            radial-gradient(circle, #7CFC00 0.5vmin, #0000 0) 95% 90%,
            radial-gradient(circle, #FFF8DC 0.5vmin, #0000 0) 10% 60%,
            radial-gradient(circle, #7CFC00 0.2vmin, #0000 0) 31% 80%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 80% 10%,
            radial-gradient(circle, #7CFC00 0.2vmin, #0000 0) 90% 23%,
            radial-gradient(circle, #FFF8DC 0.3vmin, #0000 0) 45% 20%,
            radial-gradient(circle, #7CFC00 0.5vmin, #0000 0) 13% 24%
;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2.3s infinite;
    animation-delay: 5s;
}

.firework5::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework5::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.letter {
    display: inline-block;
    opacity: 0;
}

div .d {
    display: inline-block;
}

.button-33 {
    opacity: 1;
    position: absolute;
    bottom: 2%;
    right: 15%;
    background-color: #fcccf4;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-34 {
    opacity: 1;
    position: absolute;
    bottom: 2%;
    right: 5%;
    background-color: #fcccf4;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-34:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

